@inject IAuthenticationService _Auth

<AuthorizeView>
    <Authorized>
        <div class="navbar-wrapper">
            <div class="navbar-inner">
  
                @* לוגו + שם אפליקציה *@
                <div class="navbar-logo">
                    <img src="Images/Logo.png" alt="איקס מיון" />
                </div>

                @* שם המשתמש *@
                @if (user != null)
                {
                    <div class="navbar-divider"></div>
                    <span class="navbar-username">@user.FirstName @user.LastName</span>
                }

                @* ניווט *@
                <div class="navbar-links">
                    <NavLink class="nav-link" href="game" Match="NavLinkMatch.All">למשחק</NavLink>
                    <NavLink class="nav-link" href="./GamesList">למשחקים שלי</NavLink>
                    <button class="nav-link nav-link-btn" 
                            @onclick="() => showHowToPlayPopup = true">איך משחקים</button>
                    <button class="nav-link nav-link-btn"
                            @onclick="() => showHowOdotPopup = true">אודות</button>
                </div>

                @* התנתקות *@
                <div class="navbar-divider"></div>
                <button class="navbar-logout" @onclick="() => { _Auth.Logout(); }">התנתקות
                    <svg aria-label="אייקון התנתקות" width="18" height="16" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.75 19.9023C19.7201 19.9023 20.4525 19.6549 20.9473 19.1602C21.4421 18.6654 21.6895 17.9264 21.6895 16.9434V2.96875C21.6895 1.98568 21.4421 1.24674 20.9473 0.751953C20.4525 0.250651 19.7201 0 18.75 0H8.92578C7.94922 0 7.2168 0.250651 6.72852 0.751953C6.23372 1.24674 5.98633 1.98568 5.98633 2.96875V7.41211H7.64648V3.04688C7.64648 2.59766 7.76367 2.25586 7.99805 2.02148C8.23242 1.78711 8.58073 1.66992 9.04297 1.66992H18.6328C19.0951 1.66992 19.4434 1.78711 19.6777 2.02148C19.9056 2.25586 20.0195 2.59766 20.0195 3.04688V16.8652C20.0195 17.3145 19.9056 17.6562 19.6777 17.8906C19.4434 18.1315 19.0951 18.252 18.6328 18.252H9.04297C8.58073 18.252 8.23242 18.1315 7.99805 17.8906C7.76367 17.6562 7.64648 17.3145 7.64648 16.8652V12.4902H5.98633V16.9434C5.98633 17.9264 6.23372 18.6654 6.72852 19.1602C7.2168 19.6549 7.94922 19.9023 8.92578 19.9023H18.75ZM13.6328 9.95117C13.6328 9.72982 13.5547 9.54102 13.3984 9.38477C13.2422 9.22852 13.0599 9.15039 12.8516 9.15039H3.52539L2.13867 9.21875L2.70508 8.71094L4.16992 7.34375C4.33268 7.20052 4.41406 7.01823 4.41406 6.79688C4.41406 6.59505 4.34896 6.42578 4.21875 6.28906C4.08203 6.15234 3.91602 6.08398 3.7207 6.08398C3.52539 6.08398 3.35286 6.15885 3.20312 6.30859L0.263672 9.35547C0.166016 9.45312 0.0976562 9.55078 0.0585938 9.64844C0.0195312 9.74609 0 9.84701 0 9.95117C0 10.0553 0.0195312 10.1562 0.0585938 10.2539C0.0976562 10.3451 0.166016 10.4427 0.263672 10.5469L3.20312 13.584C3.35286 13.7402 3.52539 13.8184 3.7207 13.8184C3.91602 13.8184 4.08203 13.75 4.21875 13.6133C4.34896 13.4701 4.41406 13.2975 4.41406 13.0957C4.41406 12.8743 4.33268 12.6921 4.16992 12.5488L2.70508 11.1816L2.13867 10.6836L3.52539 10.752H12.8516C13.0599 10.752 13.2422 10.6738 13.3984 10.5176C13.5547 10.3548 13.6328 10.166 13.6328 9.95117Z" fill="black"/>
                    </svg>

                </button>

            </div>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="navbar-wrapper">
            <div class="navbar-inner">
                <div class="navbar-logo">
                    <img src="Images/Logo.png" alt="איקס מיון" />
                </div>
                <div class="navbar-links">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">למשחק</NavLink>
                    <NavLink class="nav-link" href="./GamesList">למשחקים שלי</NavLink>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@* פופ אפ לאיך משחקים *@
@if (showHowToPlayPopup)
{
    <div class="how-to-play-overlay" @onclick="() => showHowToPlayPopup = false">
        <div class="how-to-play-box" @onclick:stopPropagation="true">
            <button class="how-to-play-close" 
                    @onclick="() => showHowToPlayPopup = false" 
                    @onclick:stopPropagation="true">
                <svg alt="אייקון סגירה" aria-label="אייקון סגירה" width="22" height="22" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 44C18.9563 44 16.1065 43.4256 13.4507 42.2767C10.8098 41.1428 8.47474 39.5612 6.44557 37.532C4.43133 35.5178 2.84978 33.1902 1.70092 30.5493C0.566972 27.8935 0 25.0437 0 22C0 18.9563 0.566972 16.1065 1.70092 13.4507C2.84978 10.7948 4.43133 8.45982 6.44557 6.44557C8.47474 4.43133 10.8098 2.85724 13.4507 1.7233C16.1065 0.574432 18.9563 0 22 0C25.0437 0 27.8935 0.574432 30.5493 1.7233C33.2052 2.85724 35.5402 4.43133 37.5544 6.44557C39.5687 8.45982 41.1428 10.7948 42.2767 13.4507C43.4256 16.1065 44 18.9563 44 22C44 25.0437 43.4256 27.8935 42.2767 30.5493C41.1428 33.1902 39.5687 35.5178 37.5544 37.532C35.5402 39.5612 33.2052 41.1428 30.5493 42.2767C27.8935 43.4256 25.0437 44 22 44ZM22 39.3672C24.4022 39.3672 26.6477 38.9122 28.7365 38.002C30.8403 37.1068 32.6904 35.8684 34.2869 34.2869C35.8834 32.6904 37.1292 30.8477 38.0244 28.7589C38.9196 26.6551 39.3672 24.4022 39.3672 22C39.3672 19.5978 38.9196 17.3523 38.0244 15.2635C37.1292 13.1597 35.8834 11.3171 34.2869 9.7355C32.6904 8.13903 30.8403 6.89318 28.7365 5.99797C26.6477 5.08783 24.4022 4.63276 22 4.63276C19.5978 4.63276 17.3449 5.08783 15.2411 5.99797C13.1523 6.89318 11.3096 8.13903 9.71312 9.7355C8.11665 11.3171 6.8708 13.1597 5.97558 15.2635C5.08037 17.3523 4.63276 19.5978 4.63276 22C4.63276 24.4022 5.08037 26.6551 5.97558 28.7589C6.8708 30.8477 8.11665 32.6904 9.71312 34.2869C11.3096 35.8684 13.1523 37.1068 15.2411 38.002C17.3449 38.9122 19.5978 39.3672 22 39.3672ZM15.8678 31.6907C15.3008 31.6907 14.8383 31.5192 14.4802 31.176C14.1221 30.8179 13.943 30.3852 13.943 29.8779C13.943 29.3856 14.1146 28.9081 14.4578 28.4456L19.3367 21.7762L14.704 15.4425C14.3011 14.9352 14.0997 14.4279 14.0997 13.9207C14.0997 13.3835 14.2937 12.9359 14.6816 12.5778C15.0695 12.2048 15.547 12.0183 16.1139 12.0183C16.5615 12.0183 16.9271 12.1078 17.2106 12.2869C17.509 12.4659 17.8149 12.7942 18.1282 13.2716L22.0671 19.0905H22.2014L26.0509 13.2716C26.3493 12.8091 26.6402 12.4883 26.9237 12.3093C27.2221 12.1153 27.5802 12.0183 27.998 12.0183C28.5649 12.0183 29.0349 12.1974 29.4079 12.5554C29.7809 12.8986 29.9674 13.3313 29.9674 13.8535C29.9674 14.3459 29.7809 14.8308 29.4079 15.3082L24.5738 21.8657L29.3856 28.3784C29.7436 28.841 29.9227 29.3184 29.9227 29.8108C29.9227 30.3628 29.7362 30.8179 29.3632 31.176C28.9902 31.5192 28.5053 31.6907 27.9084 31.6907C27.4758 31.6907 27.1177 31.6012 26.8342 31.4222C26.5507 31.2282 26.2448 30.885 25.9166 30.3927L21.9776 24.6185H21.8433L17.8596 30.3927C17.5314 30.885 17.2255 31.2282 16.942 31.4222C16.6585 31.6012 16.3004 31.6907 15.8678 31.6907Z" fill="black"/>
                </svg>
            </button>
            <img src="Images/ImgGameInstructions.png" alt="לוח הוראות משחק" class="how-to-play-img" />
            <div class="how-to-play-content">
                <h3 class="how-to-play-title">הוראות משחק</h3>
                <p class="how-to-play-text">
                    בכל תור תגררו מעטפה באמצעות העכבר מהלוח אל הקופסא המתאימה.<br/>
                    אם הבחירה נכונה, יופיע על הלוח הסימן שלכם (X או O) במקום המעטפה שנגררה.<br/>
                    המטרה: ליצור רצף של שלושה סימנים.
                </p>
            </div>
        </div>
    </div>
    
}

@* פופ אפ אודות *@
@if (showHowOdotPopup)
{
    <div class="how-to-play-overlay" @onclick="() => showHowOdotPopup = false">
        <div class="how-to-play-box" @onclick:stopPropagation="true">
            <button class="how-to-play-close"
                    @onclick="() => showHowOdotPopup = false"
                    @onclick:stopPropagation="true">
                <svg alt="אייקון סגירה" aria-label="אייקון סגירה" width="22" height="22" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 44C18.9563 44 16.1065 43.4256 13.4507 42.2767C10.8098 41.1428 8.47474 39.5612 6.44557 37.532C4.43133 35.5178 2.84978 33.1902 1.70092 30.5493C0.566972 27.8935 0 25.0437 0 22C0 18.9563 0.566972 16.1065 1.70092 13.4507C2.84978 10.7948 4.43133 8.45982 6.44557 6.44557C8.47474 4.43133 10.8098 2.85724 13.4507 1.7233C16.1065 0.574432 18.9563 0 22 0C25.0437 0 27.8935 0.574432 30.5493 1.7233C33.2052 2.85724 35.5402 4.43133 37.5544 6.44557C39.5687 8.45982 41.1428 10.7948 42.2767 13.4507C43.4256 16.1065 44 18.9563 44 22C44 25.0437 43.4256 27.8935 42.2767 30.5493C41.1428 33.1902 39.5687 35.5178 37.5544 37.532C35.5402 39.5612 33.2052 41.1428 30.5493 42.2767C27.8935 43.4256 25.0437 44 22 44ZM22 39.3672C24.4022 39.3672 26.6477 38.9122 28.7365 38.002C30.8403 37.1068 32.6904 35.8684 34.2869 34.2869C35.8834 32.6904 37.1292 30.8477 38.0244 28.7589C38.9196 26.6551 39.3672 24.4022 39.3672 22C39.3672 19.5978 38.9196 17.3523 38.0244 15.2635C37.1292 13.1597 35.8834 11.3171 34.2869 9.7355C32.6904 8.13903 30.8403 6.89318 28.7365 5.99797C26.6477 5.08783 24.4022 4.63276 22 4.63276C19.5978 4.63276 17.3449 5.08783 15.2411 5.99797C13.1523 6.89318 11.3096 8.13903 9.71312 9.7355C8.11665 11.3171 6.8708 13.1597 5.97558 15.2635C5.08037 17.3523 4.63276 19.5978 4.63276 22C4.63276 24.4022 5.08037 26.6551 5.97558 28.7589C6.8708 30.8477 8.11665 32.6904 9.71312 34.2869C11.3096 35.8684 13.1523 37.1068 15.2411 38.002C17.3449 38.9122 19.5978 39.3672 22 39.3672ZM15.8678 31.6907C15.3008 31.6907 14.8383 31.5192 14.4802 31.176C14.1221 30.8179 13.943 30.3852 13.943 29.8779C13.943 29.3856 14.1146 28.9081 14.4578 28.4456L19.3367 21.7762L14.704 15.4425C14.3011 14.9352 14.0997 14.4279 14.0997 13.9207C14.0997 13.3835 14.2937 12.9359 14.6816 12.5778C15.0695 12.2048 15.547 12.0183 16.1139 12.0183C16.5615 12.0183 16.9271 12.1078 17.2106 12.2869C17.509 12.4659 17.8149 12.7942 18.1282 13.2716L22.0671 19.0905H22.2014L26.0509 13.2716C26.3493 12.8091 26.6402 12.4883 26.9237 12.3093C27.2221 12.1153 27.5802 12.0183 27.998 12.0183C28.5649 12.0183 29.0349 12.1974 29.4079 12.5554C29.7809 12.8986 29.9674 13.3313 29.9674 13.8535C29.9674 14.3459 29.7809 14.8308 29.4079 15.3082L24.5738 21.8657L29.3856 28.3784C29.7436 28.841 29.9227 29.3184 29.9227 29.8108C29.9227 30.3628 29.7362 30.8179 29.3632 31.176C28.9902 31.5192 28.5053 31.6907 27.9084 31.6907C27.4758 31.6907 27.1177 31.6012 26.8342 31.4222C26.5507 31.2282 26.2448 30.885 25.9166 30.3927L21.9776 24.6185H21.8433L17.8596 30.3927C17.5314 30.885 17.2255 31.2282 16.942 31.4222C16.6585 31.6012 16.3004 31.6907 15.8678 31.6907Z" fill="black"/>
                </svg>
            </button>
            <img src="Images/OdotBoard.png" alt="רקע וסמל של המכון הטכנולוגי חולון" class="how-to-play-img" />
            <div class="how-to-play-content">
                <h3 class="how-to-play-title">אודות</h3>
                <p class="how-to-play-text">
                    <strong>אפיון ופיתוח:</strong> אופיר אמיר, נופר אטדגי ואביה מזרחי<br/><br/>
                    <strong>אופיין ופותח במסגרת פרויקט בקורסים:</strong><br/>
                    סביבות לימוד אינטראקטיביות, תכנות אינטראקציה ואנימציה<br/>
                    ועיצוב גרפי לממשקים אינטראקטיביים<br/>
                    שנת 2026, תשפ"ו
                </p>
            </div>
        </div>
    </div>

}

@code {
    [CascadingParameter] private User user { get; set; }
    bool showHowToPlayPopup = false; // פופ אפ ״איך משחקים״
    bool showHowOdotPopup = false; // פופ אפ ״איך משחקים״

}

