<style>
    .accordion-section {
        margin-bottom: 10px;
    }
    .accordion-header {
        color: #F6F2EB ;
        background-color: #4E5356;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 16px;
        direction: rtl;
        cursor: pointer;
        min-height: 50px ;
    }
 
    .accordion-header-right {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .accordion-header-left {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .accordion-header h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    .unsaved-warning {
        display: flex; 
        align-items: center; 
        gap: 8px;
        padding-left: 10px
    }
    .unsaved-warning-text {
        color: #EEE8DB; 
        font-size: 18px;
        font-weight: bold;
    }
    
    .accordion-body {
        background-color: #F6F2EB;
    }

    .accordion-body.edit-content {
        background-color: #F6F2EB;
        padding-top: 0;
    }
    
    .accordion-body h4 {
        font-size: 30px;
    }
    
  
    
    
</style>


<div class="accordion-section">
    <div class="accordion-header" 
         @onclick="Toggle"
         tabindex="0"
         @onkeydown="OnKeyDown">
        <div class="accordion-header-right">
            <h2>@Title</h2>
        </div>
        <div class="accordion-header-left">
            @if (isOpenInternal && HeaderButtons != null) // אם האקורדיון פתוח וגם יש כפתורים להראות אז תציג אותם
            {
                <div @onclick:stopPropagation="true">
                    @HeaderButtons
                </div>
                // כדי שלחיצה על הכפתור לא תסגור את האקורדיון הוספנו @onclick:stopPropagation="true"    
            }
            @if (!isOpenInternal && UnsavedChanges)
            {
                <div class="unsaved-warning" >
                    <svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.4824 0.25C18.1727 0.25 18.8329 0.411205 19.459 0.732422H19.458C20.1074 1.04823 20.6285 1.54454 21.0215 2.21094V2.21191L34.0889 24.4541L34.0898 24.4551C34.308 24.8309 34.4725 25.2154 34.583 25.6074L34.6562 25.8936C34.7186 26.1802 34.75 26.4677 34.75 26.7559C34.75 27.4917 34.5846 28.1643 34.249 28.7666C33.9126 29.3704 33.4258 29.8506 32.7979 30.209L32.7988 30.21C32.1729 30.574 31.4251 30.75 30.5674 30.75H4.41504C3.56798 30.75 2.82153 30.5735 2.18555 30.2109L2.18359 30.21C1.56667 29.8511 1.08693 29.3695 0.750977 28.7666C0.415438 28.1643 0.25 27.4917 0.25 26.7559C0.250086 25.954 0.473228 25.1847 0.912109 24.4521L13.9609 2.21191V2.21094C14.305 1.62745 14.7435 1.17443 15.2764 0.858398L15.5098 0.731445C16.1453 0.411877 16.8036 0.250028 17.4824 0.25ZM17.4824 2.36914C17.1585 2.36916 16.8377 2.43309 16.5195 2.56641L16.5205 2.56738C16.2396 2.68949 16.005 2.90269 15.8193 3.22266V3.22363L2.78613 25.4492V25.4502C2.65879 25.6662 2.57034 25.8846 2.51855 26.1055L2.51758 26.1074C2.464 26.3255 2.43752 26.5361 2.4375 26.7393C2.4375 27.2757 2.60779 27.7272 2.94727 28.1064C3.28344 28.4695 3.76656 28.665 4.43262 28.665H30.5498C31.217 28.665 31.7009 28.4687 32.0371 28.1045C32.3877 27.7247 32.5625 27.2739 32.5625 26.7393C32.5625 26.3164 32.443 25.8864 32.1943 25.4463V25.4453L19.1465 3.22363L19.1455 3.22266C18.9597 2.9026 18.7254 2.68947 18.4443 2.56738C18.1398 2.43508 17.8198 2.36914 17.4824 2.36914ZM17.5 21.9199C17.9435 21.9199 18.3294 22.0716 18.6436 22.374H18.6445C18.9633 22.6696 19.1249 23.0456 19.125 23.4844C19.125 23.9054 18.9603 24.273 18.6484 24.5752C18.3335 24.8804 17.9455 25.0332 17.5 25.0332C17.0642 25.0332 16.6789 24.8794 16.3555 24.5791L16.3516 24.5752C16.0397 24.273 15.875 23.9054 15.875 23.4844C15.8751 23.0547 16.0381 22.6817 16.3516 22.3779C16.6666 22.0727 17.0544 21.9199 17.5 21.9199ZM17.5 9.28906C17.8509 9.28906 18.1586 9.40646 18.4053 9.64551H18.4043C18.6565 9.87826 18.7703 10.1842 18.7578 10.5371L18.7588 10.5381L18.6025 19.1045V19.1055C18.596 19.4382 18.5127 19.7325 18.3115 19.9434C18.1074 20.1572 17.8217 20.2441 17.5 20.2441C17.1738 20.2441 16.884 20.1582 16.6768 19.9453C16.4716 19.7345 16.3864 19.4393 16.3799 19.1055V19.1045L16.2412 10.5264V10.3965C16.2557 10.0978 16.3649 9.83554 16.5781 9.62891L16.583 9.62402C16.8323 9.39662 17.1448 9.28906 17.5 9.28906Z" fill="#EEE8DB" stroke="#EEE8DB" stroke-width="0.5"/>
                    </svg>
                    <span class="unsaved-warning-text">יש פה תוכן לא שמור</span>
                </div>
            }
            @if (isOpenInternal)
            {
                <svg width="32" height="5" viewBox="0 0 32 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.2929 5C1.89063 5 1.51519 4.8913 1.16656 4.67391C0.831343 4.44203 0.549759 4.13768 0.32181 3.76087C0.10727 3.38406 0 2.96377 0 2.5C0 2.05072 0.10727 1.63768 0.32181 1.26087C0.549759 0.884058 0.831343 0.57971 1.16656 0.347826C1.51519 0.115942 1.89063 0 2.2929 0H29.7272C30.3306 0 30.8603 0.253623 31.3162 0.76087C31.7721 1.25362 32 1.83333 32 2.5C32 3.18116 31.7721 3.76812 31.3162 4.26087C30.8603 4.75362 30.3306 5 29.7272 5H2.2929Z" fill="#F6F2EB"/>
                </svg>
            }
            else
            {
                <Tooltip AdditionalClass="left" Text="@(Disabled ? "יש לשמור הגדרות משחק" : "")" MaxWidth="160" MarginTop="12">
                    <svg style="opacity: @(Disabled ? "0.4" : "1")" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="משולש אזהרה">
                        <path d="M0 16C0 15.371 0.227663 14.8289 0.682988 14.3739C1.13831 13.9189 1.68069 13.6913 2.31011 13.6913H13.6999V2.32873C13.6999 1.69971 13.9209 1.15767 14.3628 0.702635C14.8182 0.234212 15.3672 0 16.01 0C16.6529 0 17.1952 0.234212 17.6372 0.702635C18.0925 1.15767 18.3202 1.69971 18.3202 2.32873V13.6913H29.71C30.3394 13.6913 30.8751 13.9189 31.317 14.3739C31.7723 14.8289 32 15.371 32 16C32 16.6424 31.7723 17.1911 31.317 17.6462C30.8751 18.1012 30.3394 18.3287 29.71 18.3287H18.3202V29.6913C18.3202 30.3204 18.0925 30.8624 17.6372 31.3174C17.1952 31.7725 16.6529 32 16.01 32C15.3672 32 14.8182 31.7725 14.3628 31.3174C13.9209 30.8624 13.6999 30.3204 13.6999 29.6913V18.3287H2.31011C1.68069 18.3287 1.13831 18.1012 0.682988 17.6462C0.227663 17.1911 0 16.6424 0 16Z" fill="#F6F2EB"/>
                    </svg>
                </Tooltip>
            }
            @* אם אקורדיון פתוח מציג מיניוס ואם אקורדיון סגור מציג פלוס *@
        </div>
        </div>
    
    @if (isOpenInternal)
    {
        <div class="accordion-body @AdditionalClass" >
            @ChildContent
            @* נרצה להציג פה תוכן מתחלף לכן נשתמש בchildContent *@
        </div>
    }
</div>

@code {
    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    // תוכן שמשתנה בכל אקורדיון בדף של עריכה משחק
    [Parameter] public RenderFragment HeaderButtons { get; set; }
    // פה יכנסו הכפתורים - שונים בכל אקורדיון
    [Parameter] public bool IsOpen { get; set; } = false;
    [Parameter] public bool Disabled { get; set; } = false;
    // בזמן יצירת משחק חדש לא יהיה ניתן לפתוח את ״ערית התוכן״ לכן נרצה להפוך אותו לדיסאייבל
    [Parameter] public bool UnsavedChanges { get; set; } = false; // נרצה להציג הודעה במידה ויש תוכן שלא נשמר בתוך האקורדיון
    [Parameter] public string AdditionalClass { get; set; } // קלאס נוסף במידה ונרצה לערוך משהו ספציפי
    
    bool isOpenInternal; // מנהל את המצב של האקורדיון - פתוח / סגור
    bool initialized = false; // האם כבר היה אתחול
    string sign;

    protected override void OnParametersSet()
        // רץ בכל פעם שפרמטר מתעדכן מבחוץ
    {
        if (!initialized)
            // אתחול פעם אחת בלבד — כדי שהמשתמש יוכל לפתוח/לסגור בלי שהערך יידרס
        {
            isOpenInternal = IsOpen;
            initialized = true;
        }
    }

    void Toggle()
        // הפעולה ההפוכה בלחיצה
    {
        if (!Disabled)
            // רק אם ניתן ללחוץ על האקורדיון
            isOpenInternal = !isOpenInternal;
    }

    void OnKeyDown(KeyboardEventArgs e) // כדי לאפשר פתיחה באמצעות המקלדת
    {
        if (e.Key == "Enter" || e.Key == " ") // בלחיצה על אנטר או רווח
        {
            Toggle();
        }
    }

}