<style>
    .popup-wrapper {
        position:fixed; 
        top:0; 
        left:0; 
        width:100%; 
        height:100%;
        z-index: 999;
        background-color:rgba(0,0,0,0.5);
        
    }
    .popup-design {
        background-color:#F6F2EB; 
        width:460px; 
        min-height: 240px;
        margin:200px auto;
        border: 1px solid black;
        text-align:center; 
        position:relative;
    }
    
    
    .close-popup-btn {
        position:absolute; 
        top:10px; 
        right:10px;
        background:none; 
        border:none; 
        cursor:pointer;   
    }
    
    .popup-design h4 {
        width: 100%;
        height: 100%;
        background-color: #911627;
        color: #F6F2EB;
        font-weight: 700;
        margin: 0;
        padding: 14px 20px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    
    .popup-btns-wrapper {
        display: flex; 
        justify-content: center; 
        gap: 10px;
        margin-bottom: 20px;
    }

    .childContent {
        margin: 22px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
</style>

@if (IsVisible) 
{
    <div class="popup-wrapper" @onclick="OnClose">
        @* לחיצה על הרקע תסגור את הפופ-אפ  *@
        <div class="popup-design" @onclick:stopPropagation="true">
            @* כפתור X לסגירה ללא פעולה *@
            <button class="close-popup-btn" @onclick="OnClose">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 25C10.7706 25 9.15141 24.6736 7.64242 24.0209C6.14191 23.3766 4.81519 22.478 3.66226 21.325C2.5178 20.1806 1.61919 18.8581 0.966429 17.3576C0.322143 15.8486 0 14.2294 0 12.5C0 10.7706 0.322143 9.15141 0.966429 7.64242C1.61919 6.13343 2.5178 4.80671 3.66226 3.66226C4.81519 2.5178 6.14191 1.62343 7.64242 0.979145C9.15141 0.326382 10.7706 0 12.5 0C14.2294 0 15.8486 0.326382 17.3576 0.979145C18.8666 1.62343 20.1933 2.5178 21.3377 3.66226C22.4822 4.80671 23.3766 6.13343 24.0209 7.64242C24.6736 9.15141 25 10.7706 25 12.5C25 14.2294 24.6736 15.8486 24.0209 17.3576C23.3766 18.8581 22.4822 20.1806 21.3377 21.325C20.1933 22.478 18.8666 23.3766 17.3576 24.0209C15.8486 24.6736 14.2294 25 12.5 25ZM12.5 22.3678C13.8649 22.3678 15.1407 22.1092 16.3276 21.5921C17.5229 21.0834 18.5741 20.3798 19.4812 19.4812C20.3883 18.5741 21.0961 17.5271 21.6048 16.3403C22.1134 15.145 22.3678 13.8649 22.3678 12.5C22.3678 11.1351 22.1134 9.85927 21.6048 8.67243C21.0961 7.47711 20.3883 6.43015 19.4812 5.53154C18.5741 4.62445 17.5229 3.91658 16.3276 3.40793C15.1407 2.89081 13.8649 2.63225 12.5 2.63225C11.1351 2.63225 9.85504 2.89081 8.65972 3.40793C7.47287 3.91658 6.42591 4.62445 5.51882 5.53154C4.61173 6.43015 3.90387 7.47711 3.39522 8.67243C2.88657 9.85927 2.63225 11.1351 2.63225 12.5C2.63225 13.8649 2.88657 15.145 3.39522 16.3403C3.90387 17.5271 4.61173 18.5741 5.51882 19.4812C6.42591 20.3798 7.47287 21.0834 8.65972 21.5921C9.85504 22.1092 11.1351 22.3678 12.5 22.3678ZM9.01577 18.0061C8.69362 18.0061 8.43082 17.9086 8.22737 17.7136C8.02391 17.5102 7.92218 17.2643 7.92218 16.9761C7.92218 16.6963 8.01967 16.4251 8.21465 16.1623L10.9868 12.3728L8.35453 8.77416C8.12564 8.48593 8.01119 8.19769 8.01119 7.90946C8.01119 7.60427 8.1214 7.34995 8.34181 7.14649C8.56222 6.93455 8.8335 6.82859 9.15565 6.82859C9.40997 6.82859 9.61767 6.87945 9.77874 6.98118C9.94829 7.08291 10.1221 7.26941 10.3001 7.54069L12.5381 10.8469H12.6144L14.8016 7.54069C14.9712 7.27789 15.1365 7.09563 15.2976 6.9939C15.4671 6.88369 15.6706 6.82859 15.9079 6.82859C16.2301 6.82859 16.4971 6.93032 16.7091 7.13377C16.921 7.32876 17.027 7.5746 17.027 7.87131C17.027 8.15107 16.921 8.42659 16.7091 8.69786L13.9624 12.4237L16.6963 16.1241C16.8998 16.3869 17.0015 16.6582 17.0015 16.9379C17.0015 17.2516 16.8956 17.5102 16.6836 17.7136C16.4717 17.9086 16.1962 18.0061 15.8571 18.0061C15.6112 18.0061 15.4078 17.9552 15.2467 17.8535C15.0856 17.7433 14.9118 17.5483 14.7253 17.2686L12.4873 13.9878H12.411L10.1475 17.2686C9.961 17.5483 9.78722 17.7433 9.62614 17.8535C9.46507 17.9552 9.26161 18.0061 9.01577 18.0061Z" fill="#F6F2EB"/>
                </svg>
            </button>
            <h4>
                @Title
                @if (ShowWarningIcon) // נציג את האייקון רק במקרים מסויימים 
                {
                    <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.87871 22C2.28164 22 1.76561 21.8763 1.3306 21.629C0.904128 21.3817 0.575742 21.0519 0.345445 20.6397C0.115148 20.2275 0 19.7658 0 19.2546C0 18.7023 0.153531 18.1705 0.460594 17.6594L10.0563 1.34795C10.3292 0.886266 10.6832 0.548248 11.1182 0.333895C11.5618 0.111298 12.0181 0 12.4872 0C12.9649 0 13.4212 0.111298 13.8562 0.333895C14.2997 0.548248 14.658 0.886266 14.9309 1.34795L24.5394 17.6594C24.6929 17.9232 24.8081 18.1911 24.8849 18.4632C24.9616 18.727 25 18.9908 25 19.2546C25 19.7658 24.8849 20.2275 24.6546 20.6397C24.4243 21.0519 24.0916 21.3817 23.6566 21.629C23.2301 21.8763 22.7141 22 22.1085 22H2.87871ZM2.8915 20.8375H22.0957C22.6245 20.8375 23.0339 20.6809 23.324 20.3676C23.614 20.0543 23.759 19.6792 23.759 19.2423C23.759 18.896 23.6609 18.5497 23.4647 18.2035L13.869 1.90444C13.7155 1.64062 13.515 1.45512 13.2677 1.34795C13.0203 1.24077 12.7602 1.18718 12.4872 1.18718C12.2228 1.18718 11.9626 1.24077 11.7068 1.34795C11.4594 1.45512 11.259 1.64062 11.1054 1.90444L1.52252 18.2035C1.42016 18.3766 1.34766 18.5539 1.30502 18.7352C1.26237 18.9084 1.24104 19.0774 1.24104 19.2423C1.24104 19.6792 1.38178 20.0543 1.66325 20.3676C1.95326 20.6809 2.36267 20.8375 2.8915 20.8375ZM12.5 14.2957C12.0821 14.2957 11.8688 14.0772 11.8603 13.6402L11.7579 7.3457C11.7494 7.13135 11.8134 6.95822 11.9498 6.82631C12.0948 6.6944 12.2782 6.62844 12.5 6.62844C12.7132 6.62844 12.8924 6.69852 13.0374 6.83867C13.1824 6.97058 13.2506 7.14371 13.2421 7.35807L13.1269 13.6402C13.1184 14.0772 12.9094 14.2957 12.5 14.2957ZM12.5 17.8078C12.2271 17.8078 11.9882 17.7129 11.7835 17.5233C11.5873 17.3337 11.4893 17.1111 11.4893 16.8555C11.4893 16.5917 11.5873 16.365 11.7835 16.1754C11.9797 15.9858 12.2185 15.8909 12.5 15.8909C12.7815 15.8909 13.0203 15.9858 13.2165 16.1754C13.4127 16.3568 13.5107 16.5835 13.5107 16.8555C13.5107 17.1111 13.4127 17.3337 13.2165 17.5233C13.0203 17.7129 12.7815 17.8078 12.5 17.8078Z" fill="#F6F2EB"/>
                    </svg>
                }
            </h4>
            <div class="childContent">
                @ChildContent
            </div>
            <br/>
            @if (ShowButtons)
            {
                <div class="popup-btns-wrapper">
                    <Button Text="@ConfirmText" OnClick="OnConfirm" Variant="primary"/>
                    <Button Text="@CancelText" OnClick="OnCancel" Variant="secondery"/>
                </div>
            }

        </div>
    </div>
}


@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public string Title { get; set; }
    // כותרת הפופ אפ - משתנה בין שימושים שונים
    [Parameter] public string ConfirmText { get; set; }
    // טקסט כפתור האישור - משתנה בין שימושים שונים
    [Parameter] public string CancelText { get; set; }
    // טקסט כפתור הביטול - משתנה בין שימושים שונים
    [Parameter] public RenderFragment ChildContent { get; set; }
    // התוכן הפנימי - מאפשר להכניס כל תוכן HTML מהרכיב האב
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnClose { get; set; } // סוגר את הפופ-אפ בכפתור הx
    [Parameter] public bool ShowButtons { get; set; } = true; // רלוונטי לפופ-אפ הגדלת תמונה - שם לא נרצה שיראו את הכפתורים
    [Parameter] public bool ShowWarningIcon { get; set; } = false; // אייקון ליד הכותרת - בדרך כלל לא נציג אבל בפופ אפים מסויימים כן
   
}
