@page "/"
@page "/game"
@page "/game/{code:int}"

<PageTitle>משחק - איקס מיון</PageTitle>

@if (loading)
{
    <p>המשחק נטען...</p>
}

@* הטמעה של המשחק בתוך הדף *@ 
<div class="game-container">
    <div class="game-wrapper">
        <iframe width="1280" height="720" scrolling="no"
                src=@($"FinalProject/index.html?code={code}")
                @onload="()=>loading=false">
        </iframe>
    </div>
</div>


@code {
    [Parameter]
    public int code { get; set; }

    bool loading = true;
}

@code {

    [CascadingParameter]
    private User user { get; set; }

}
