.game-wrapper[b-58ga1vs9lc] {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.game-container[b-58ga1vs9lc] {
    display: flex;
    justify-content: center;
    align-items: center;
}
